header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;

}
.active{
    border-bottom: 2px solid #fff; 
    

}
header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.logo{
    font-size: 33px;
    color: #fff;
    font-weight: 700;
}
.span{
    color:#ffa343;
}
.navbar{
    display: flex;
}
.navbar  a{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 22px;
}
.navber a:hover{
    color:#ffa343;
}
.right{
    display: flex;
    align-items: center;
}
.right a:first-child{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;

}
.right a{
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s  ease;
}
.right a:hover{
    color: #ffa343;
}

.logout{
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    background: transparent;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s  ease;
}
.logout:hover{
    color: #ffa343;
}


.menu {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media(max-width:1700px){
    header{
        padding: 18px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
    section{
        padding:50px 8% 40px
    }
}
@media(max-width:500px) {

    .logo{
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }
    header {
        padding: 14px 5%;
      
    }

    header.sticky {
        padding: 7px 5%;
    }

    section {
        padding: 45px 5% 35px;
    }

 

    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: -100%; /* Start offscreen */
        display: flex;
        flex-direction: column;
        background: #000;
        transition: left 0.50s ease; /* Add transition */
    }

    .navbar.open {
        left: 0; /* Slide in from the left when open */
    }

    .navbar.closed {
        left: -100%; /* Slide out to the left when closed */
    }

    .navbar a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 15px;
        font-weight: 400;
    }
    
    .navbar.open a {
        color: #fff; 
    }

   

    .right {
        display: flex;
        align-items: center;
        font-size: 10px;


    }

    .right a:first-child {
        color: #fff;
        font-size: 12px;
        margin-right: 20px;
    }

    .right a {
        vertical-align: middle;
        font-size: 15px;
        color: #fff;
        margin-right: 18px;
        margin-left: 5px;
        transition: all .50s ease;
    }

    .right a:hover {
        color: #ffa343;
        transform: translateY(-3px);
    }

 
    .menu {
        margin-top: 5px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: block;
    }

    .menu.open {
        color: #ffa343;
        transform: translateX(-20px); /* Adjust position when open */
    }

    
    
    .right .logout{
        font-size: 0.7rem;
        padding-right:  20px;
    }
}

