header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
/* .navbar .navLink.active {
    border-bottom: 2px solid #fff
  } */
  .active__link{
    border-bottom: 3px solid #fff;
    
  }
 
  
  

header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.logo{
    font-size: 33px;
    color: #fff;
    font-weight: 700;
}
.span{
    color:#ffa343;
}
.navbar{
    display: flex;
}

.navbar  a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px 22px;
}
.navber a:hover{
    color:#ffa343;
    border-bottom: 3px solid #fff;
}
.right{
    display: flex;
    align-items: center;
}
.right a:first-child{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 20px;

}
.right a{
    vertical-align: middle;
    font-size: 1.2rem;
    color: #fff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s  ease;
}
.right a:hover{
    color: #ffa343;
}

.logout{
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    background: transparent;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s  ease;
}
.logout:hover{
    color: #ffa343;
}


.menu {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media(max-width:1700px){
    header{
        padding: 18px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
    section{
        padding:50px 8% 40px
    }
}
@media(max-width:1026px){
    .logo{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .right a:first-child{
        font-size: 1rem;
        margin-right: 20px;
    
    }
    .right a{
        font-size:1rem;
        /* margin-right: 18px;
        margin-left: 5px; */
        
    }
  

}

@media(max-width:940px){
    header{
        padding:17px 7% ;
    }
    section{
        padding:30px 6% 20px
    }
    .logo{
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    .navbar  a{
        color: #fff;
        font-size:15px;
        font-weight: 500;
        margin: 15px 22px;
    }
    .right a{
        vertical-align: middle;
        font-size: 15px;
        color: #fff;
        margin-right: 18px;
        margin-left: 5px;
        transition: all .50s  ease;
    }
    .right a:first-child{
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        margin-right: 20px;
    
    }

}

@media(max-width:800px){
    header{
        padding:10px 4% ;
    }
    section{
        padding:30px 4% 20px
    }
    .logo{
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    .navbar  a{
        color: #fff;
        font-size:12px;
        font-weight: 500;
        margin: 15px 22px;
    }
    .right a{
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
        margin-right: 18px;
        margin-left: 5px;
        transition: all .50s  ease;
    }
    .right a:first-child{
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        margin-right: 20px;
    
    }

}
@media(max-width:665px)and (min-width:539px){
    .logo{
        font-size: 13px;
    }
    .navbar  a{
        color: #fff;
        font-size:10px;
        font-weight: 500;
        margin: 15px 15px;
    }
    .right a:first-child{
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        margin-right: 5px;
    
    }

}
@media(max-width:540px) {

    .logo{
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }
    header {
        padding: 14px 5%;
        
      
    }

    header.sticky {
        padding: 7px 5%;
    }

    section {
        padding: 45px 5% 35px;
    }

 

    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: -100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #000;
        transition: left 0.50s ease; 
    }

    .navbar.open {
        left: 0;
    }

    .navbar.closed {
        left: -100%;
    }

    .navbar a{
        width: 70px;
        display: block;
        color: #979797;
        padding: 0;
        font-size: 15px;
        font-weight: 400;
    }
    
    .navbar.open a {
        color: #fff; 
    }

   

    .right {
        display: flex;
        align-items: center;
        font-size: 10px;


    }

    .right a:first-child {
        color: #fff;
        font-size: 15px;
        margin-right: 0;
    }

    .right a {
        vertical-align: middle;
        font-size: 15px;
        color: #fff;
        margin-right: 5px;
        margin-left: 5px;
        transition: all .50s ease;
    }

    .right a:hover {
        color: #ffa343;
        transform: translateY(-3px);
    }

 
   .menu {
        display: block;
        font-size: 1.2rem;
        margin-top: 3px;
   }

    .menu.open {
        color: #ffa343;
        transform: translateX(-20px); 
    }

    
    
    .right .logout{
        font-size: 0.7rem;
        padding-right:  20px;
    }
}
@media(max-width:287px){
    header{
        padding: 5px 2%;
    }
    .logo{
        font-size: 10px;
        font-weight: 500;
    }
    .menu {
        display: block;
        font-size: 0.7rem;
        margin-top: 3px;
   }

    
    .right a {
        font-size: 9px;
        /* margin-right: 5px; */
        /* margin-left: 5px; */
    }
    .right a:first-child{
        font-size: 0.5rem;
        font-weight: 400;
        margin-left: 10px;
    
    }


}

