.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.image{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.image img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    display: block;
    transition:transform 0.9s;

}

.content h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
}
.content h4:hover{
    color: #ffa343;

}
@media(max-width:1000px){
    .image{
        width:70px;
        height: 70px;
    }

}
@media(max-width:500px){
    .content{
        gap: 1.5rem;
    }
    .image{
        width: 50px;
        height: 50px;
    }
  
  
}