.footerContainer {
    width: 100%;
    padding: 70px 0 0 0;
    background-color: #C9B0A6;
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #C9B0A6;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2rem;
    color: #44212b;
    opacity: 0.9;

}
.socialIcons a:hover{
    background-color: #44212b;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: #44212b;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.copy{
    width: 100%;
    background-color: #C9B0A6;
    box-shadow: 0 0 10px #fff;

    padding: 20px 0 ;
    text-align: center;
}
.copy p{
    color: #44212b;
     
}
.art{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width :700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}