
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #44212b;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Merriweather", serif;
    position: relative; 
}

a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    background-color: transparent; 
    transition: background-color 0.3s;
}

a:hover::after {
    background-color: #44212b; 
}
body{
    background-size: cover;
    background-position: center;


}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 10px #fff;
    background-color: #C9B0A6;
    z-index: 1000; 
}
.navbar {
    
    width: 100%;
    height:80px ;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color :#333333;
    font-size: 1rem;
    cursor: pointer;
    display: none;

}
.btn {
    background-color: #44212b;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05); 
    background-color: #d4a113; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.btn:active {
    transform: scale(0.95);
}
.btn a{
    color:#fff;
    font-size: 1rem;


}
.btn a:hover::after {
    background-color: #d4a113; 
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background:#D3D3D3;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition:height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown {
height: 370px;
/* width:900px ; */

}
.dropdown button {
    padding: 0.8rem;
    /* margin: 0.8rem ; */
    justify-content: center;
    align-items: center;
    width: 140px;

}

.toggle_btn i{
    color: #44212b;
    width: 80px;
}

.dropdown li {
    padding: 0.8rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    
}






@media(max-width:992px) {
    .navbar .links,
    .navbar .btn {
        display: none;

    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown {
        display: block;

    }
    .btn {
        width: 100px;
    }
    .logo{
        padding-left: 1.5rem;
    }
    
}

@media(max-width:576px) {
.dropdown {
    left:2rem;
    width: unset;
}
.btn {
    width: 100px;
}
.logo{
    padding-left: 1.5rem;
}
}