/* table.module.css */


.container {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    
    height: 100vh;
    
      
}
.content{
    width: 80%;
    margin: auto auto;
   
   

}
.picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.buttons {
    display: flex;
    justify-content: flex-end; 
    padding-top: 50px; 
}

.buttons button{
    margin: 0 5px;
    display: inline-block;
    padding: 13px 40px;
    background: #ffa343;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}
.buttons button:hover{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.table {
    
   
  background: #1a1818;
  width: 100%;
}

h2{
    margin-top: 20px;
}
.table th,
.table td {
    
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #555252;
}
.table td i{
    padding: 0 9px;
}
.table td i:hover{
    color: #ffa343;
}

.table th {
    background-color: #ffa343;
    font-weight: bold;
}




/* Responsive styles */
@media screen and (max-width: 600px) {
    .table {
        overflow-x: auto;
    }

    .table th,
    .table td {
        padding: 8px;
        font-size: 14px;
    }
}
