.container{
    margin-top: 250px;
    margin-bottom: 200px;
    
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.title{
    font-size: 30px;
    margin-bottom: 50px;
    color:#44212b;}