


.profile {
    text-align: center; 
    padding-top: 100px;

}

.profile h2 {
    margin-bottom: 70px;
}

.profile .content {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.profile .row {
    margin: 0 50px; 
}

.profile .images {
    width: 250px;
    height: 250px; 
    margin: 0 auto; 
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    transition: all .50s ease;
    object-fit: cover;
}
.profile img:hover {
    transform: translateY(-6px);
}
.text {
    font-size: 1.5rem;
    font-weight: 800;
}
.row p{
    margin-top: 20px;
    color: #fff;
   
}
.row p:hover{
    color: #ffa343;

}
@media(max-width:500px){
    .profile h2 {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .profile{
        padding-top: 50px;

    }
    .profile .content {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
    }
    .row p{
        margin-top: 10px;
        margin-bottom: 30px;
        color: #fff;
        font-size: 0.7rem;
       
    }
    .profile .images {
        width: 180px;
        height: 180px; 
        margin: 0 auto; 
    }



}
